[main]

    vardir = <%= ENV["HOME"] %>/.puppet/var
    # The Puppet log directory.
    # The default value is '$vardir/log'.
    logdir = <%= ENV["HOME"] %>/.puppet/var/log

    # Where Puppet PID files are kept.
    # The default value is '$vardir/run'.
    rundir = <%= ENV["HOME"] %>/.puppet/var/run/puppet

    # Where SSL certificates are kept.
    # The default value is '$confdir/ssl'.
    ssldir = <%= ENV["HOME"] %>/.puppet/var/ssl

   basemodulepath = <%= ENV["HOME"] %>/.puppet/modules:<%= ENV["HOME"] %>/.puppet/modules-local
   confidir     = <%= ENV["HOME"] %>/.puppet/
   environment = production

   hiera_config = <%= ENV["HOME"] %>/.puppet/hiera.yaml
