# managed by puppet
---
:backends:
  - yaml

:logger: console

:hierarchy:
  - "%{environment}/%{calling_class}"
  - "%{environment}"
  - sockpuppet
  - common

:yaml:
    :datadir: <%= @confdir %>/hieradata
