[main]

    vardir = <%= @confdir %>/var
    # The Puppet log directory.
    # The default value is '$vardir/log'.
    logdir = <%= @confdir %>/var/log

    # Where Puppet PID files are kept.
    # The default value is '$vardir/run'.
    rundir = <%= @confdir %>/var/run/puppet

    # Where SSL certificates are kept.
    # The default value is '$confdir/ssl'.
    ssldir = <%= @confdir %>/var/ssl

   basemodulepath = <%= @confdir %>/modules:/<%= @confdir %>/modules-local
   confidir     = /home/<%= @confdir %>
   environment = production

   hiera_config = <%= @confdir %>/hiera.yaml
