#!/bin/bash
LOG="<%= @home -%>/<%= @user -%>/.puppet/var/log/sockpuppet.log"
sleep "$(( ( RANDOM % 300 )  + 1 ))"
<%= @home -%>/<%= @user -%>/bin/sockpuppet.sh -a sockpuppet.pp -q 2>&1 1> $LOG
<%= @home -%>/<%= @user -%>/bin/sockpuppet.sh -a default.pp -q 2>&1 1> $LOG
