#!/bin/bash
#
func_usage()
{
cat << EOF

Usage: sockpuppet -a <manifest file> [ -n ] | [ -q ] | [ -h ]
EOF
}

func_options()
{
cat << EOF

OPTIONS:

   -a      <manifest file>
   -v      Notifications from the puppet run are displaed on STDOUT and
           logged to $VARDIR/log/sockpuppet.log
   -n      noop: sockpuppet does a dry run without applying the manifest.

EOF
}
USER="<%= @user -%>"
CONFDIR="${HOME}/.puppet"
VARDIR="${CONFDIR}/var"
MANIFESTDIR="${CONFDIR}/manifests"
MANIFEST=
VERBOSE=
LOG="${VARDIR}/log/sockpuppet.log"
BASEMODULEPATH="${CONFDIR}/modules:${CONFDIR}/modules-local"
while getopts “ha:nq” OPTION
do
     case $OPTION in
         h)
             func_options
             exit 1
             ;;
         a)
             MANIFEST=$OPTARG
             /usr/bin/puppet apply \
                 --basemodulepath=${BASEMODULEPATH} \
                ${MANIFESTDIR}/${MANIFEST} \
                | tee --append $LOG
             ;;
         n)
             /usr/bin/puppet apply \
                 --noop --basemodulepath=${BASEMODULEPATH} \
                 ${MANIFESTDIR}/${MANIFEST}
             ;;
         q)
             /usr/bin/puppet apply \
                 --basemodulepath=${BASEMODULEPATH} \
                 ${MANIFESTDIR}/${MANIFEST} >> $LOG 2>>$LOG 
             ;;
         ?)
             func_usage
             exit
             ;;
     esac
done

if [[ -z $MANIFEST ]] 
then
     func_usage
     exit 1
fi
